<?xml version="1.0"?>
<robot name="honors_thesis">

    <material name="grey">
        <color rgba="0.7 0.7 0.7 1" />
    </material>

    <material name="green">
        <color rgba="0.0 0.7 0 1" />
    </material>

    <material name="white">
        <color rgba="1 1 1 1" />
    </material>

    <!--LINK SECTION-->
    <!--Chasis Link-->
    <link name="base_link"> <!--one link must be base link-->
        <!--Visual Properties-->
        <visual>
            <geometry>
                <box size="0.4445 0.4318 0.05" /> <!--Vaugely close to robot specs, 17.5 x 17 x 2 inches, and ~30lbs-->
            </geometry>
            <origin xyz= "0 0 0" rpy="0 0 0" />
            <material name="green" />
        </visual>
        <!--Collision Properties-->
        <collision>
            <geometry>
                <box size="0.4445 0.4318 0.05" /> <!--Needed for gazebo simulation-->
            </geometry>        
        </collision>
        <!--Mass/Inertia Properties-->
        <inertial>
            <mass value="13.6" />
            <inertia ixx="0.435" ixy="0" ixz="0" iyy="0.227" iyz="0" izz="0.214" /> <!--Look at Thesis Thoughts document for derivations-->
        </inertial>
    </link>

    <link name="battery"> <!--one link must be base link-->
        <visual>
            <geometry>
                <box size="0.178 0.203 0.14" /> <!-- battery is 7 x 8 x 5.5 inches, and 12 lbs-->
            </geometry>
            <origin xyz= "0 0 0.07" rpy="0 0 0" />
            <material name="green" />
        </visual>

        <collision>
            <geometry>
                <box size="0.178 0.203 0.14" />
            </geometry>        
        </collision>

        <inertial>
            <mass value="5.44" />
            <inertia ixx="0.033" ixy="0" ixz="0" iyy="0.0232" iyz="0" izz="0.0276" /> 
        </inertial>
    </link>

    <!--Lidar Link-->
    <link name="lidar">
        <visual>
            <geometry>
                <cylinder radius=".05" length="0.05" /> <!--made up-->
            </geometry>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <material name="white"/>
        </visual>

        <collision>
            <geometry>
                <cylinder radius=".05" length="0.05" />
            </geometry>        
        </collision>

        <inertial>
            <mass value="0.001" />
            <inertia ixx="0.0001" ixy="0" ixz="0" iyy="0.0001" iyz="0" izz="0.0001" /> <!--So low essientially masless-->
        </inertial>
    </link>

    <!--Back Left Wheel-->
    <link name="back_left_wheel">
        <visual>
            <geometry>
                <cylinder radius="0.089" length="0.05" /><!--rough robotic specs, 7inch diam, 2 inch length-->
            </geometry>
            <origin xyz="0 0 0" rpy="1.57 0 0" /> <!--Need wheel to be vertical, using radians-->
            <material name="grey"/>
        </visual>

        <collision>
            <geometry>
               <cylinder radius="0.089" length="0.05" />
            </geometry>        
        </collision>

        <inertial>
            <mass value="0.8" />
            <inertia ixx="0.00175" ixy="0" ixz="0" iyy="0.00175" iyz="0" izz="0.00317" /> 
        </inertial>
    </link>
    <!--Front Left Wheel-->
    <link name="front_left_wheel">
        <visual>
            <geometry>
                <cylinder radius="0.089" length="0.05" /><!--rough robotic specs, 7inch diam, 2 inch length-->
            </geometry>
            <origin xyz="0 0 0" rpy="1.57 0 0" /> <!--Need wheel to be vertical, using radians-->
            <material name="grey"/>
        </visual>

        <collision>
            <geometry>
               <cylinder radius="0.089" length="0.05" />
            </geometry>        
        </collision>

        <inertial>
            <mass value="0.8" />
            <inertia ixx="0.00175" ixy="0" ixz="0" iyy="0.00175" iyz="0" izz="0.00317" /> 
        </inertial>
    </link>
    <!--Back Right Wheel-->
    <link name="back_right_wheel">
        <visual>
            <geometry>
                <cylinder radius="0.089" length="0.05" />
            </geometry>
            <origin xyz="0 0 0" rpy="1.57 0 0" /> 
            <material name="grey"/>
        </visual>

        <collision>
            <geometry>
               <cylinder radius="0.089" length="0.05" />
            </geometry>        
        </collision>

        <inertial>
            <mass value="0.8" />
            <inertia ixx="0.00175" ixy="0" ixz="0" iyy="0.00175" iyz="0" izz="0.00317" /> 
        </inertial>
    </link>
    <!--Front Right Wheel-->
    <link name="front_right_wheel">
        <visual>
            <geometry>
                <cylinder radius="0.089" length="0.05" />
            </geometry>
            <origin xyz="0 0 0" rpy="1.57 0 0" /> 
            <material name="grey"/>
        </visual>

        <collision>
            <geometry>
               <cylinder radius="0.089" length="0.05" />
            </geometry>        
        </collision>

        <inertial>
            <mass value="0.8" />
            <inertia ixx="0.00175" ixy="0" ixz="0" iyy="0.00175" iyz="0" izz="0.00317" /> 
        </inertial>
    </link>

    <!--Virtual Link-->
    <link name="base_footprint" /> <!--Convention name it base_footprint-->
        <!--Not sure if this is going to cause errors when porting to gazebo-->

    <!--JOINT SECTION-->
    <joint name="base_battery_joint" type="fixed">
        <parent link="base_link" />
        <child link="battery" />
        <origin xyz="-0.111125 0 0" rpy="0 0 0" /> <!--battery sits inside of the base -->
    </joint>


    <joint name="base_lidar_joint" type="fixed">
        <parent link="base_link" />
        <child link="lidar" />
        <origin xyz="0.111125 0 0.05" rpy="0 0 0" /> <!--Change the joint origin first, then possibly touch parent and child -->
    </joint>

    <!--Wheel Joints-->
    <joint name="base_back_left_wheel_joint" type="continuous">
        <parent link="base_link" />
        <child link="back_left_wheel" />
        <origin xyz="-0.111125 0.2309 0" rpy="0 0 0" /> <!--x offset: -1/4 of box, y offset: half of box + half of wheel length (.2259+.025)-->
        <axis xyz="0 1 0" /> <!--rotation about x-axis -->
    </joint>
    <joint name="base_front_left_wheel_joint" type="continuous">
        <parent link="base_link" />
        <child link="front_left_wheel" />
        <origin xyz="0.111125 0.2309 0" rpy="0 0 0" /> 
        <axis xyz="0 1 0" /> 
    </joint>
    <joint name="base_back_right_wheel_joint" type="continuous">
        <parent link="base_link" />
        <child link="back_right_wheel" />
        <origin xyz="-0.111125 -0.2309 0" rpy="0 0 0" /> 
        <axis xyz="0 1 0" /> 
    </joint>
    <joint name="base_front_right_wheel_joint" type="continuous">
        <parent link="base_link" />
        <child link="front_right_wheel" />
        <origin xyz="0.111125 -0.2309 0" rpy="0 0 0" /> 
        <axis xyz="0 1 0" /> 
    </joint>

    <!--Virtual Joint-->
    <joint name="base_joint" type="fixed">
        <parent link="base_footprint" />
        <child link="base_link" />
        <origin xyz="0 0 0.089" rpy="0 0 0" /> <!--Wheel radius height off the ground-->
    </joint>





    <!--Gazebo Section-->
    <gazebo>
        <plugin filename="gz-sim-diff-drive-system" name="gz::sim::systems::DiffDrive" >

            <!--ROS commands that will be run this Gazebo topic-->
            <topic>/cmd_vel</topic>

            
            <left_joint>base_back_left_wheel_joint</left_joint>
            <left_joint>base_front_left_wheel_joint</left_joint>
            <right_joint>base_back_right_wheel_joint</right_joint>
            <right_joint>base_front_right_wheel_joint</right_joint>

            <wheel_seperation>0.305</wheel_seperation>
            <wheel_radius>0.089</wheel_radius>

            <!--Simulation limits, pull from physical testing later-->
            <max_linear_velocity>0.8</max_linear_velocity>
            <min_linear_velocity>-0.8</min_linear_velocity>
            <max_angular_velocity>1.5</max_angular_velocity>
            <min_angular_velocity>-1.5</min_angular_velocity>

            <odom_topic>/odom</odom_topic>
            <tf_topic>/tf</tf_topic>

            <frame_id>odom</frame_id>
            <child_frame_id>base_link</child_frame_id>
            <odom_publish_frequency>30</odom_publish_frequency>
        </plugin>
    </gazebo>
</robot>